
<br>

<div class="card" >
  <div class="card-body">
    <h2 class="card-title">New Consultation</h2>

    <p class="card-text"><h3>Please fill out the form below, with the information of your disease.</h3></p>

    </div>
</div>
<br>

<%= render 'form', consultation: @consultation %>


